*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  
}

.container{
    width: 100%;
    height: 100vh;
    background-image: url("https://account.beeviral.app/Files/CAMPAIGN_FILES/644_644/33c98b14-5c37-4bc2-a567-0bcf2caa71e0.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    display: grid;
    place-items: center;
 
}
.header{
    width: 96%;
    height: 700px;

    display: flex;
    justify-content: space-between;
    gap: 40px;
 margin-top: 20px;
}
@media (max-width: 992px){
    .header{
    width: 100%;
    height: 1400px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    align-items: center;
    gap: 0px;
}
}

.text-list{
    width: 50%;
     height:700px;
    background-color: rgba(0, 0, 0, 0.38);
  
  display: grid;
  place-items: center;

}
.foto-form{
     width: 50%;
    height:700px;
   display: flex;
   place-items: center;
   flex-direction: column;
  align-items: center;
}
.form{
    width: 100%;
    height: 50%;
    background-color: rgb(255, 255, 255);
}

@media (max-width: 992px){
   .text-list{
    width: 90%;
  
}
.foto-form{
     width: 100%;
     background-image: url("https://account.beeviral.app/Files/CAMPAIGN_FILES/644_644/33c98b14-5c37-4bc2-a567-0bcf2caa71e0.jpg");
  background-size: cover;
    background-position: center;
   
}
.form{
    width: 90%;
    height: 50%;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
}


}



h2{
    font-size: 35px;
    color: white;
    text-align: center;
    font-weight: 700;
      width: 90%;
      margin-top: 20px;
}


h3{
    font-size: 23px;
    color: white;
    text-align: center;
      width: 90%;
}
.box{
    height: 400px;
    width: 90%;
   
   display: grid;
   padding-top: 40px;
}

h4{
    font-size: 20px;
    color: white;
    text-align: start;
    display: flex;
    width: 90%;
     text-align: start;
margin-bottom: 30px;
}

h5{
    font-size: 18px;
    color: white;
      display: flex;
    width: 90%;
     text-align: start;
   margin-bottom: 20px;
}

h6{
    font-size: 15px;
    color: white;
    text-align: start;
      display: flex;
    width: 90%;
     text-align: start;
   margin-bottom: 15px;
}


.foto{
    width: 100%;
    height: 50%;


}

.img{
     width: 100%;
    height: 100%;
    background-image: url("https://account.beeviral.app/Files/CAMPAIGN_FILES/644_644/6389bdc9-1b76-4e2a-966e-182e6c6d8246.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.footer{
    width: 100%;
    height: 500px;
    padding: 20px 0;
  display:grid ;
  place-items: center;
     background-image: url("https://account.beeviral.app/Files/CAMPAIGN_FILES/644_644/33c98b14-5c37-4bc2-a567-0bcf2caa71e0.jpg");
      transform: rotate(180deg);
       background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.footer-content{
    width: 96%;
    height: 500px;
      background-color: #333;
      color: white;
      display: grid;
        place-items: center;
         transform: rotate(-180deg);
}

.title{
    text-align: center;
    font-size: 28px;
}

.text-1{
    width: 95%;
    height: 60px;

}

.text-content-1{
    font-size: 20px;
    margin-bottom: 10px;
}
.text-content-2{
    font-size: 15px;
}

@media (max-width: 992px){
  
.footer{
    height: 500px;
      padding: 20px 0;
}
.footer-content{
   width: 90%;
    height: 500px;
  
}
.text-content-1{
    font-size: 16px;
    margin-bottom: 10px;
}
.text-content-2{
    font-size: 12px;
}
h2{
    font-size: 25px;
  
}
h3{
    font-size: 20px;
  
}
h4{
    font-size: 18px;
  
}
h5{
    font-size: 16px;
  
}

h6{
    font-size: 12px;
  
}

}
